body {
  background-color: #484848;
  margin: 0;
  padding: 0;
}
h3 {
  color: #000000;
  text-align: center;
}
form {
  width: 500px;
  margin: 0 auto;
}
.box {
  width: inherit;
  background-color: cornsilk;
  padding: 20px 20px 20px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  /* margin-top: 40px; */
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
